body > header {
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	height: 2.4rem;
	background: rgba(255,255,255,0.85);
	z-index: 10;
	text-align: center;
	border-bottom: gray thick solid;
}

body > header h1 {
	font-size: 2rem;
	margin:0;
}



body > footer {
	position: fixed;
	bottom:0;
	right: 0;
	left: 0;
	height: 2.4rem;
	background: rgba(255,255,255,0.85);
	z-index: 10;
	text-align: center;
	border-top: gray thick solid;

}

main {
	margin: 3rem 0;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	margin: 2rem;
}

article {
	border: solid 2px black;
	display: flex;
	justify-content: space-between;
}

article > p{
	display: none;
}

article > footer {
	height: 4em;
	display: flex;
	overflow: hidden;
	width: auto;
	aspect-ratio: 1/1;
}

article > footer > img {
	height: auto;
}

article:hover{
	height: 25rem;
	flex-direction: column;
}

article:hover > p{
	display: block;
}

article:hover > footer {
	display: block;
	height: auto;
	width: auto;
	text-align: center;
}